a {
  font-size: 20px;
  color: white;
  text-decoration:none;
  padding: 10px 70px;
}

a:link {
  color: green;
}

a:hover {
  background: #FE921F;
  color: black;
}

b {

  color: white;
  padding: 110px;
}
b:link {
  color: green;
}

b:hover {
  background: #FE921F;
  color: black;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: grey;
  padding: 30px;
  width: 170px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}



a {
  font-size: 20px;
  color: white;
  text-decoration:none;
  padding: 10px 70px;
}

a:link {
  color: green;
}

a:hover {
  background: #FE921F;
  color: black;
}

b {

  color: white;
  padding: 110px;
}
b:link {
  color: green;
}

b:hover {
  background: #FE921F;
  color: black;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: grey;
  padding: 30px;
  width: 170px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}




h1 {
  position:relative;
  top: 50px;
  left: 180px;
  color:rgb#000932;
  font-family: cursive;
}

img{
    width: 5%;
    margin-left: 5px;
    float: right;
}

body  {
  background: orange
  ;
}
h2  {
  background:black
  ;
}
h5  {
  background:black
  ;
}
footer {
    position:fixed;
    bottom:0;
    background: black;
  ;
}

div {

    right: 100%;
    width: 100px;
    height: 1000px;

    background: black;
}